.c {
    background: grey;
    margin: 30px auto;
    padding: 20px 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1)
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-align: center;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
    border-radius: 1rem;
}